<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% seo %}

    <link
      rel="stylesheet"
      href="{{ site.baseurl | strip_html }}/theme/css/github.css"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl | strip_html }}/theme/favicon.ico"
    />
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <header>
        <small>
          <a href="https://github.com/{{ site.github.owner_name }}">
            {{ site.github.owner_name | downcase | strip_html }}
          </a>
          /
          <a href="{{ site.baseurl | strip_html }}/">
            <!-- {{ site.github-org-name }} -->
            {{ site.github.repository_name | strip_html }}
          </a>
        </small>
      </header>

      <main>{{ content | markdownify }}</main>

      <footer>
        <h2 id="copyright">Copyright</h2>

        <p>
          All content herein is copyrighted, shared under the
          <a
            href="https://github.com/{{ site.github-org-name }}{{ site.baseurl }}/blob/master/LICENSE"
            >{{ site.copyright }}</a
          >.
        </p>

        <div
          class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray"
        >
          Help
          <a
            href="https://github.com/{{ site.github-org-name }}{{ site.baseurl }}/edit/master/{{ page.path | strip_html }}"
            >improve this page </a
          >.
        </div>
      </footer>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
      integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg="
      crossorigin="anonymous"
    ></script>
    <script>
      anchors.add()
    </script>
  </body>
</html>
