@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

/* color palette from https://www.colourlovers.com/palette/361545/garden_picnic */

body {
  font-family: "Droid Serif";
}

h1,
h2,
h3 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
}

h1,
p {
  color: white;
}
h2 {
  color: #c5645e;
}

a,
blockquote,
strong,
em {
  color: #fadf68;
}

blockquote {
  /* vertical line on the left of quotes */
  margin-left: 0px;
  padding-left: 36px;
  border-left: 4px solid #c5645e;
  font-family: "Yanone Kaffeesatz";
  font-size: 1.25em;
}

code {
  background: #272822;
  border-radius: 5px;
}

img {
  max-width: 100%;
}

.remark-container {
  background-color: black; /* #540F0E; */
}

.remark-slide-content {
  background-color: black; /* #1E270D; */
  color: white;
}

.remark-slide-scaler {
  -webkit-box-shadow: 0 0 30px #646f32;
  box-shadow: 0 0 30px #646f32;
}

.remark-code,
.remark-inline-code {
  font-family: "Ubuntu Mono";
}
.remark-inline-code {
  padding-left: 10px;
  padding-right: 10px;
  color: #fadf68;
}

/* CUSTOM STYLES FOR BREADCRUMB */
header.slides {
  color: #505050;
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: center;
  /* left: 20px; */
  top: 20px;
}
header.slides a {
  color: #505050;
  text-decoration: none;
}
footer {
  height: 0px;
}
footer a.source {
  color: #505050;
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

/* CUSTOM STYLES FOR TABLES */
table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid white;
}
td,
th {
  border: 1px solid white;
  padding: 5px;
  font-family: monospace;
  font-size: 0.75em;
  line-height: 1em;
}
th {
  background-color: #c5645e;
  font-weight: normal;
  color: white;
}
